.card {
  padding: 5px;
  border: 1px solid #d7dfe7;
  .meta {
    height: 100px;
  }
  .card-img {
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s ease-in;
    &:hover {
      object-fit: contain;
      transform: scale(0.95);
    }
  }
}
.card-row {
  margin-top: 2rem;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
